<div id="post-detail-container">
    <section id="sticky-navbar">
        <app-navbar [notification]="notifications" [count]="unReadNoti"></app-navbar>
    </section>
    <section id="post-detai" *ngIf="postDetail">
        <div class="post-cards">
            <div class="post-cards-header">
                <div class="cards-header-content">
                <div class="avatar-users">
                    <img [src]="baseApiUrl + '/' + postDetail.users.usersPhoto?.photo_url">
                </div>
                <div class="info-post">
                    <p>{{postDetail.users.usersDetail.username}}</p>
                    <p>{{howlong(postDetail.create_at)}}</p>
                </div>
                </div>
                <div class="cards-header-btn" *ngIf="currentUser?.users_id == postDetail.users.id">
                    <button (click)="deletePost()">
                        <img src="../../../../assets/icons/delete.png">
                    </button>
                    <button (click)="edit()" style="margin-left: 10px">
                        <img src="../../../../assets/icons/edit.png">
                    </button>
                </div>
            </div>
            <div class="post-cards-body">
                <div class="caption">{{postDetail.caption}}</div>
                <div class="photo">
                <ng-image-slider *ngIf="imageObject.length > 0" [images]="imageObject"></ng-image-slider>
                </div>
                <div class="action">
                <div class="action-left">
                    <button class="btn-like" *ngIf="is_Like == true; else elseButton" (click)="toggle(postDetail.id)">
                        <img src="../../../../assets/icons/heart-red.png">
                    </button>
                    <ng-template #elseButton>
                        <button class="btn-like" (click)="toggle(postDetail.id)">
                            <img src="../../../../assets/icons/heart-unactive.png">
                        </button>
                    </ng-template>
                    <button class="btn-comment">
                    <img src="../../../../assets/icons/comment-unactive.png">
                    </button>
                </div>
                <div>
                    {{postDetail.countLike}} Like
                </div>
                </div>
                <div class="list-comment" *ngIf="oldestComment.length > 0">
                    <div class="old-comment">
                        <div class="comment-item old" *ngFor="let comment of oldestComment; index as i">
                        <p><span style="font-weight: bold;">{{comment.users.usersDetail.username}}</span><span>: {{comment.content_comment}}</span></p>
                        </div>
                    </div>
                    <div class="new-comment hide">
                        <div class="comment-item old" *ngFor="let comment of newestComment; index as i">
                        <p><span style="font-weight: bold;">{{comment.users.usersDetail.username}}</span><span>: {{comment.content_comment}}</span></p>
                        </div>
                    </div>
                    <button *ngIf="newestComment.length > 0" id="show-more" (click)="showMoreComment($event)">show more comment</button>
                    </div>
                    <div class="comment">
                    <div class="comment-zone">
                        <div contenteditable="true" (keydown)="changevalue($event)">
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

